table {
    width: 100%;

    border: {
        collapse: collapse;
        spacing: 0;
    };
}

th {
    padding: 5px;
    background: $light-grey;
    color: $base-text-color;
    text-align: left;

    font: {
        family: $heading-font;
        weight: $heading-font-weight;
    };
}

td {
    padding: 5px;
    border-bottom: 1px solid $light-grey;
}
