//
// Generic Colour Values
//

$dark: #444444;
$light: #FFFFFF;

$alert-ok: #edfdd3;
$alert-error: #ffe6e3;

//
// Site specific colors
//

$base-text-color: $dark;

$primary-brand-color: #222F40;
$secondary-brand-color: #41A6A6;
$alt-brand-color: #75BF95;

$primary-brand-color-text: $white;
$primary-brand-color-comp: $alt-brand-color;

$secondary-brand-color-text: $white;
$secondary-brand-color-comp: $alt-brand-color;

$alt-brand-color-text: $white;
$alt-brand-color-comp: $secondary-brand-color;

//
// Useful Brand Colours
//

$facebook: #3b5998;
$twitter: #00aced;
$instagram: #517fa4;
$googleplus: #dd4b39;
