//
// Jeet
//

$jeet-gutter:           3;
$jeet-parent-first:     false;
$jeet-layout-direction: "LTR";
$jeet-max-width:        1060px;

//
// Layout
//

$site-width: $jeet-max-width;
$gutter: 50px;

$mobile-nav-breakpoint: 900px;
$mobile-gutter: 30px;

$default-spacer: 15px;
