//
// Retina Images
//

@mixin image-2x($image, $width, $height) {
    @media (min-resolution: 1.3dppx) {
        background-image: url($image);
        background-size: $width $height;
    }
}

//
// Background Size
//

@mixin background-size($value) {
    background-size: $value;
    background-repeat: no-repeat;
    background-position: center center;
}

//
// Square Objects
//

@mixin square($size) {
    display: block;
    height: $size;
    width: $size;
}

//
// Hide Text
//

@mixin hide-text {
    display: block;
    text-align: left;
    text-indent: -9999px;
}

//
// Reset Jeets Align mixin
//

@mixin reset-align {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    transform: none;
}
